<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.bejeweled_entregafinal">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Puntajes"
            android:parentActivityName=".MainActivity">       <!--le dice q la clase padre es el main activity -->
        </activity>

        <activity
            android:name=".Juego"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />   <!--le dice q la clase padre es el main activity -->

        <activity
            android:name=".MainActivity"
            android:label="BEJEWELED">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>